
/* Colors: #0B0B0B  #F64D00  #E4E4E4 */
.mainBody {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0B0B0B;
    color: #F64D00;
    margin: 0 auto;
    border: 3px solid #E4E4E4;
    padding: 20px;
    text-align: left;
    height: 900px;
}


.mainHeader {
    text-align: center;
}
    .navBar {
        display: flex;
        list-style: none;
        margin: 0%;
        padding: 0%;
    }
        .navBar li {
            display: inline-block;
            position: relative;
        }
        .navBar ul {
            text-align: center;
            padding: 5px;
            margin: 0 auto;
        }    
        .navBar ul li {
            list-style-type: none;
            text-align: center;
            padding: 5px;
        }
